.container {
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #333;
}

.tabs {
  display: flex;
  height: 50px;
  /* flex-flow: column nowrap; */
}

.tab {
  flex: 1;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.tab.active {
    background-color: darkseagreen;
}

.contents {
  position: relative;
  display: flex;
  height: calc(100% - 50px);
}

.content {
  flex: 1;
  background-color: cornflowerblue;
  display: none;
}

.content.active {
  display: block;
}
