.flag-container {
  position: relative;
  height: 130px;
  width: 260px;
  border: 1px solid #000;
  background-color: #fff;
}

.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
  color: yellow;
  overflow-wrap: break-word;
}

.stripe {
  height: 10px;
}

.red {
  background-color: #f00;
}

.white {
  background-color: #fff;
}

.blue {
  background-color: #00f;
}

.simple {
  margin-bottom: 10px;
}

.simple:last-child {
  margin-bottom: 0;
}

.stars-container-float {
  height: 60px;
  width: 100px;
  color: yellow;
  background-color: #00f;
  overflow-wrap: break-word;
}

.stripe-n {
  height: 10px;
}

.stripe-n:nth-child(2n-1) {
  background-color: #fff;
}

.stripe-n:nth-child(2n) {
  background-color: #f00;
}

.left {
  float: left;
}

.test3 {
  border: 1px solid green;
  width: 100px;
  height: 50px;
  display: inline-block;
}
