:root {
  --theme-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --theme-transition-time: 1s;

  --theme-bg: #ffffff;
  --theme-font-color: #333333;
  --theme-nav-link-text: navy;
}

html[data-theme="dark"] {
  --theme-bg: #333333;
  --theme-font-color: #aaaaaa;
  --theme-nav-link-text: red;
}
